{{>partials/statics/header}}
<div class="header">
            <div class="detals">
                <p><i>Olá, </i>Pedro</p>
                <span>Qual será a marmita de hoje?</span>

            </div>
            <div class="bag">
                
                <div class="qtd">
                    <img  src="/img/profile.png" alt="">
                </div>
            </div>
        </div>
        <div class="search">
            <input class="inp-search" type="text" placeholder="Pesquisar">
            <i class="fa-solid fa-magnifying-glass icon"></i>
        </div>
        <div class="info">
            <div class="title">
                Info
            </div>
            <div class="count">
                30%
            </div>
            <div class="description">
                resta <b>5</b> marmitas
            </div>
        </div>
        <div class="options">
            <div class="button active"> All</div>
            <div class="button"> Fit</div>
            <div class="button"> Outros</div>
        </div>
        <div class="food">
            <div class="title">
                <div class="text">
                    Marmitas
                </div>
                <div class="description">
                    5 - all
                </div>
            </div>
            <div class="box-food">
                <div class="row-6">
                    <div class="img-marmita-div">
                        <img src="/img/m03.png" alt="">
                    </div>
                    
                    <div class="food-name">
                        tradicional
                    </div>
                    <div class="food-description">
                        arroz, carne moida, pure de bata, feijão..
                    </div>
                    <div class="food-count">
                        <div class="count-i">
                            5 
                        </div>
                        <div class="count-text">
                             restantes
                        </div> 
                    </div>
                    <div class="food-validity">
                         <p>data:<b>22/22/2222</b></p>
                        <p>valid:<b>22/22/2222</b></p>
                    </div>
                </div>
            </div>
        </div>
    {{>partials/components/menu}}
{{>partials/statics/footer}}