{{>partials/statics/header}}
<div class="header logo-center">
    <div class="logo">
        <i>Minha.<span>Marmita</span>.Fit</i>
    </div>
</div>
<div class="login">
    <div class="title">
        Login.
    </div>
    <div class="form">
        <div class="user">
            <input class="inp-login"  type="text" placeholder="login">
            <i class="fa-solid fa-user icon"></i>
        </div>
        <div class="password">
            <input class="inp-login" type="password" placeholder="senha">
            <i class="fa-solid fa-key icon"></i>
        </div>
        <div class="btn">
            <button class="btn-login">login</button>
        </div>
    </div>
</div>
{{>partials/statics/footer}}