<div class="menu-mobile">
    <a class="active-icon" href="index.html">
        <i class="fa-solid fa-utensils"></i>
    </a>
    <a class="" href="comida.html">
        <i class="fa-solid fa-plus"></i>
    </a> 
    <a class="" href="login.html">   
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
    </a>
</div>